@charset "utf-8";
body{
    background-color: #F3F3F3;
}

/* header */
#header{
    width: 100%;
    height: 266px;
    background-color: #31485B;
}
.header-con{
    position: relative;
    width: 370px;
    height: 266px;
    margin: 0 auto;
    text-align: center;
}
.header-con .title{
    color: #FFFFFF;
    font-size: 45px;
    width: 250px;
    margin: 0 auto 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #738391;
}
.header-con .subtitle{
    color: #FFFFFF;
    font-size: 13px;
    letter-spacing: 6px;
}
.header-con .logo{
    margin-top: 55px;
}
.header-con .free{
    position: absolute;
    top: 90px;
    right: 0;
}
.header-con .free-con{
    position: absolute;
    top: 95px;
    right: 20px;
    color: #FFFFFF;
    font-size: 14px;
}

/* nav */
#nav{
    position: relative;
    margin: 50px auto;
    width: 943px;
    height: 60px;
    background-color: #3C5569;
    border-radius: 5px;
}
.nav-list>li{
    float: left;
    height: 60px;
    border-left: 1px solid #546A7B;
    border-right: 1px solid #324758;
    font-size: 16px;
    text-align: center;
    line-height: 60px;
} 
.nav-list li>a{
    display: inline-block;
    color: #FFFFFF;
    height: 60px;
    width: 100%;
    transition: 0.3s;
}
.nav-list li>a:hover{
    background-color: #4D6C86;
    border-radius: 5px;
}
.nav-list .nav-logo{
    width: 70px;
    border-left: 0;
}
.nav-logo img{
    margin-top: 14px;
}
.nav-list .men{
    width: 120px;
}
.nav-list .women{
    width: 150px;
}
.nav-list .sale{
    width: 125px;
}
.nav-list .info{
    width: 122px;
}
.nav-list .contacts{
    width: 163px;
}
.nav-list .search{
    width: 59px;
}
.nav-list .search img{
    margin-top: 18px;
}
.nav-list .shopping-cart{
    width: 59px;
}
.nav-list .shopping-cart img{
    margin-top: 18px;
}
.nav-list .profile{
    width: 59px;
    border-right: 0;
}
.nav-list .profile img{
    margin-top: 18px;
}

/* 下拉菜单 */
.sub-menu{
    position: relative;
    z-index: 1;
    height: 0px;
    overflow: hidden;
    transition: 0.2s;
}
.men-menu{
    width: 120px;
}
.women-menu{
    width: 150px;
}
.men:hover .men-menu{
    height: 240px;
}
.women:hover .women-menu{
    height: 240px;
}
.sub-menu>ul{
    background-color: #3C5569;
    color: #FFFFFF;
}
.sub-menu>ul>li:hover{
    background-color: #4D6C86;
}

/* 轮播图 */
#banner{
    position: relative;
    width: 940px;
    height: 440px;
    margin: 0 auto 30px;
    border-radius: 5px;
}
.banner-list{
    position: relative;
    width: 940px;
    height: 440px;
}
.banner-list>li{
    position: absolute;
    opacity: 0;
    width: 940px;
    height: 440px;
    transition: 1s;
}
.banner-list>li.on{
    opacity: 1;
}
.arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 25px;
    cursor: pointer;
}
.left{
    left: 20px;
    background: url("../image/banner/left.png");
}
.left:hover{
    background: url("../image/banner/left-hover.png");
}
.right{
    right: 20px;
    background: url("../image/banner/right.png");
}
.right:hover{
    background: url("../image/banner/right-hover.png");
}
.dot{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
}
.dot>li{
    float: left;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: #ced3d7;
    cursor: pointer;
}
.dot>li:hover{
    background-color: #fff;
    box-shadow: 0 0 5px #ccc;
}
.dot>li.on{
    background-color: #f6b63a;
}


/* content */
#content{
    width: 938px;
    height: 530px;
    margin: 0 auto 58px;
    background-color: #fff;
    border: 1px solid #cccccc;
    border-radius: 5px;
}
.button{
    width: 880px;
    height: 180px;
    margin: 36px auto 30px;
}
.button>ul{
    float: left;
}
.button>ul input{
    outline: none;
    border: 0;
    width: 200px;
    height: 40px;
    margin: 10px;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: bold;
    letter-spacing: 1px;
}
.green input{
    background-color: #9cbf3e;
}
.green input:hover{
    background-color: #a8c755;
}
.green input:active{
    background-color: #86a72e;
}
.orange input{
    background-color: #ef8742;
}
.orange input:hover{
    background-color: #f19659;
}
.orange input:active{
    background-color: #d76f31;
}
.pink input{
    background-color: #bf4f79;
}
.pink input:hover{
    background-color: #c76489;
}
.pink input:active{
    background-color: #a54066;
}
.purple input{
    background-color: #8869ca;
}
.purple input:hover{
    background-color: #967bd0;
}
.purple input:active{
    background-color: #7557b4;
}

/* 多选框、单选框 */
.form{
    height: 172px;
    width: 880px;
    margin: 0 auto;
}
.form>ul{
    float: left;
    height: 160px;
    width: 202px;
    margin: 0 9px;
}
.form span{
    vertical-align: middle;
}
label{
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 10px;
    background-color: #fff;
    
    border: 1px solid #aaa;
}
.checkbox li,.radio li{
    margin-bottom: 12px;
}
.checkbox label{
    border-radius: 5px;
}
.radio label{
    border-radius: 50%;
}
input[type="checkbox"]:checked + label{
    background: url("../image/content/checked.png") no-repeat center;
    border: 1px solid #1bb869;
}
input[type="checkbox"]:checked + label + span{
    color: #1bb869;
}
input[type="checkbox"]:hover + label{
    background: url("../image/content/hover.png") no-repeat center;
    border: 1px solid #aaaaaa;
}

input[type="radio"]:checked + label{
    background: url("../image/content/radio-on.png") no-repeat center;
    border: 1px solid #1bb869;
}
input[type="radio"]:checked + label + span{
    color: #1bb869;
}
input[type="radio"]:hover + label{
    background: url("../image/content/radio-hover.png") no-repeat center;
    border: 1px solid #aaaaaa;
}

/* 输入框 */
.input input{
    outline: none;
    width: 184px;
    height: 40px;
    padding-left: 16px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #d7d7d7;
}
.input .right{
    border: 1px solid #1bb869;
    background: url("../image/content/right.png") no-repeat 170px;
}
.input .false{
    border: 1px solid #e05543;
    background: url("../image/content/error.png") no-repeat 170px;
}

/* 滑动条 */
/* 去除默认样式 */
input[type="range"]{
    outline: none;
    width: 200px;
    height: 6px;
    background-color: #fff;
    border: 1px solid #d7d7d7;
    -webkit-appearance: none;
    border-radius: 5px;
    transition: 0.5s;
}
input[type="range"].rOrange{
    margin-top: 16px;
    margin-bottom: 50px;
}
input[type="range"].rPink{
    margin-bottom: 16px;
}
/* 给滑块添加样式 */
input[type=range].rOrange::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 21px;
    width: 115px;
    background:url("../image/content/slider1.png"); 
}
input[type=range].rPink::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 21px;
    width: 115px;
    background:url("../image/content/slider2.png"); 
}

/* 滑动条显示框 */
.range span{
    display: inline-block;
    width: 84px;
    height: 38px;
    border: 1px solid #d7d7d7;
    border-radius: 5px;
    text-align: center;
    line-height: 38px;
    color: #888888;
}
.range img{
    margin: 0 1px;
}

/* content底部 */
.curiouser{
    display: flex;
    justify-content: space-between;
    height: 46px;
    width: 880px;
    margin: 34px auto 0;
}
.curiouser li{
    width: 200px;
    height: 46px;
    text-align: center;
    line-height: 46px;
    font-size: 14px;
    color: #888888;
    
}
.curiouser li:nth-child(1){
    background: url("../image/content/base-green.png");
}
.curiouser li:nth-child(2){
    background: url("../image/content/base-orange.png");
}
.curiouser li:nth-child(3){
    background: url("../image/content/base-pink.png");
}
.curiouser li:nth-child(4){
    background: url("../image/content/base-purple.png");
}

/* discount */
.discount{
    display: flex;
    justify-content: space-between;
    width: 622px;
    margin: 0 auto;
}
.discount li{
    width: 60px;
    height: 60px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    line-height: 60px;
    text-align: center;
}
.discount li:nth-child(1){
    background: url("../image/discount/discount1.png");
}
.discount li:nth-child(2){
    background: url("../image/discount/discount2.png");
}
.discount li:nth-child(3){
    background: url("../image/discount/discount3.png");
}
.discount li:nth-child(4){
    background: url("../image/discount/discount4.png");
}
.discount li:nth-child(5){
    background: url("../image/discount/discount5.png");
}
.discount li:nth-child(6){
    background: url("../image/discount/discount6.png");
}
.discount li:nth-child(7){
    background: url("../image/discount/discount7.png");
}
.discount li:nth-child(8){
    background: url("../image/discount/discount8.png");
}